*{
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.content{
    height: 100%;
    width: 100%;
    max-width: 1440px;
}

body{
    background: red;
}

main{
    background: green;
    width: 100%;
    height: auto;
    min-height: 100dvh;

    section{
        width: 100%;
        height: 50dvh;
        background: yellow;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .boxen{
            width: 300px;
            height: 100px;
            background: teal;

            .content {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }


}