
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
}

#box1 {
    height: 8dvh;
    width: 100%;
    background: pink;
    padding: 15px 8px;
    display: flex;
    _align-items: center;

    #logo{
        width: 100%;
        height: 100%;
        background-color: red;
    }
}

#box2 {
    height: 40dvh;
    width: 50%;
    background: teal;
    display: flex;
    align-items: center;
    justify-content: center;

    #childbox1{
        height: 50%;
        width: 50%;
        background: orange;
    }
}
