body{
    margin: 0;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    }

    .aot {
        background-image: url('./img/header.png');
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    header img {
        width: 100px;
    }

    .navlink {
        color: white;
        text-decoration: none;
        margin-left: 16px;
    }

    .navlink:hover {
        color: #b48a4e;
    }

    .navimage {
        height: 24px;
        width: auto;
        margin-left: 16px;             
    }

    .navimage:hover {
        filter: drop-shadow(0px 0px 4px #FFFFFF);
        cursor: pointer;
    }
    h1 {
        font-size: 84px;
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
    }

    .button {
        background-color: #b48a4e;
        color: white;
        text-decoration: none;
        padding: 16px;
    }

    .section-quicklinks {
        background-color: black;
        padding: 80px 80px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .quicklink {
        display: flex;
        flex-direction: column;
        color:#b48a4e;
        font-size: 24px;
        font-weight: 700;
        gap: 8px;
        text-decoration: none;
        flex: 1;    
    }

    .quicklink img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .buy-ticket-section {
        background-color: #272727;
        display: flex;
        align-items: center;
    }

    .buy-ticket-section-left {
        height: 280px;
    }

    .festival-info {
        padding: 40px;
        height: 200px;
        flex: 1;
    }

    .festival-info h2 {
        margin-block-start: 0;
    }

    .seperator {
        background-color: white;
        width: 1px;
        height: 200px;
        margin-right: 10px;
    }

    .buy-ticket-container {
        display: flex;
        justify-content: center;
        width: 300px;
    }

    .mt-16 {
        margin: 16px;
    }

    .slogan-section {
        padding: 80px 80px;
        color: #b48a4e;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }

    .video-section {
        background-image: url('./img/bottom.png');
        height: 600px;
        background-size: cover;
        background-position: center;
    }

    footer {
        display: flex;
        background-color: black;
        padding: 80px 10px;
    }




    
    .half-width {
        width: 50%;
    }

    .footer-social-media-icon {
        width: 32px;
    }

    .footer-left {
        font-size:24px;
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        padding-right: 16px;
    }

    .footer-center {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin-bottom: 16px;
    }

    input {
        height: 42px;
        flex-grow: 1;
    }
    input::placeholder{
        color: black;
        padding-left: 32px;
    }

    .button-footer {
        width: 160px;
        border-width: 0px;
    }

    .footer-form {
        display: flex;
    }

    @media(max-width: 700px) {
    .hide-mobile {
        display:none
        }

    h1 { 
        font-size: 48px;
    }

        .full-width-mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
    }

        .footer-left {
            text-align: center;
            margin-bottom: 32px;
            padding-right: 0;
        }
    }


    @media(max-width: 600px) {
        .section-quicklinks{
            flex-direction: column;
            gap: 100px;
        }

        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        }   

    @media(max-width: 1000px) {
        .buy-ticket-section{
            flex-direction: column;
        }

        .buy-ticket-section-left{
            height: 100%;
        }

        .buy-ticket-img-left {
            width: 100%;
            object-fit: cover;
        }

        .seperator {
            display: none;
            /* width: 200px;
            height: 1px;
            margin-right: 0px;
            margin-bottom: 16px; */
        }

        .buy-ticket-container {
            padding-bottom: 40px;
        }

        .buy-ticket-container button {
            width: 100%;
            text-align: center;
            margin-block-start: 0;
            margin-block-end: 0;
        }

    }